<div class="header p-2 p-md-5">
  <h1>Dashboard</h1>
  <p class="text-secondary">
    <small>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </small>
  </p>
</div>
<div class="w-100 px-md-5 px-2">
  <div class="view p-4 p-md-4">
    <span>i</span>
    <p>You have 32 Supports Request Pending for Response  <a href="#"> View</a></p>
    </div>

</div>


<div class="cards row px-5 container ">
  <div class="card bg-primary">
    <div class="header p-2 p-5">
      <h6 class="text-white">Total Users</h6>
      <h2 class="text-white">1543</h2>
      <p class="text-white">
        <small>
          since last month
        </small>
      </p>
    </div>
  </div>

  <div class="card bg-success">
    <div class="header p-2 p-5">
      <h6 class="text-white">Saving Accounts</h6>
      <h2 class="text-white">1543</h2>
      <p class="text-white">
        <small>
          since last month
        </small>
      </p>
    </div>
  </div>

  <div class="card bg-primary">
    <div class="header p-2 p-5">
      <h6 class="text-white">Total Users</h6>
      <h2 class="text-white">1543</h2>
      <p class="text-white">
        <small>
          since last month
        </small>
      </p>
    </div>
  </div>

  <div class="card bg-success">
    <div class="header p-2 p-5">
      <h6 class="text-white">Total Users</h6>
      <h2 class="text-white">1543</h2>
      <p class="text-white">
        <small>
          since last month
        </small>
      </p>
    </div>
  </div>

</div>

<div class="p-2 p-md-5">
  <div class="table-container table-responsive rounded-3">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">userid/name</th>
          <th scope="col">phone</th>
          <th scope="col">transaction category</th>
          <th scope="col">transaction amount</th>
          <th scope="col">account type</th>
          <th scope="col">balance amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions; index as i">
          <td>
            <p class="m-0">{{ transaction.name }}</p>
            <p class="m-0 text-secondary">
              <small>{{ transaction.id }}</small>
            </p>
          </td>
          <td>{{ transaction.phone }}</td>
          <td>
            <p class="m-0">{{ transaction.category.title }}</p>
            <p class="m-0 text-secondary">
              <small>{{ transaction.category.type }}</small>
            </p>
          </td>

          <td>{{ transaction.amount | currency }}</td>
          <td>{{ transaction.accountType }}</td>
          <td>{{ transaction.balance | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="viewbtn">
  <button>View All</button>
</div>
