<!-- Heading -->
<div class="header p-2 p-md-5">
  <h1>Dashboard</h1>
  <p class="text-secondary">
    <small>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </small>
  </p>
</div>

<div class="w-100 px-md-5 px-2">
  <div class="view p-4 p-md-4">
    <span>i</span>
    <p>You have 32 Supports Request Pending for Response  <a href="#"> View</a></p>
    </div>

</div>
<!-- Cards -->
<div class="card-group px-md-5 pt-md-5 px-2 py-2 d-md-flex gap-5 ">
  <div class="card bg-primary rounded-4 overflow-hidden">
    <div class="card-body">
      <h5 class="card-sub-title text-white">Total Users</h5>
      <h1 class="card-title text-white">1567</h1>
      <div class="card-text text-white d-flex gap-2">
          <div class="rating">
            <p>2.36%</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 15px;height: 15px;">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 19.5v-15m0 0l-6.75 6.75M12 4.5l6.75 6.75" />
            </svg>
          </div>
          <p class="cart-text">Since last month </p>
      </div>
    </div>
  </div>
  <div class="card bg-success rounded-4 overflow-hidden">
    <div class="card-body">
      <h5 class="card-sub-title text-white">Savings Account</h5>
      <h1 class="card-title text-white">1500</h1>
      <div class="card-text text-white d-flex gap-2">
          <div class="rating">
            <p>2.36%</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 15px;height: 15px;">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 19.5v-15m0 0l-6.75 6.75M12 4.5l6.75 6.75" />
            </svg>
          </div>
          <p class="cart-text">Since last month </p>
      </div>
    </div>
  </div>
  <div class="card bg-primary rounded-4 overflow-hidden">
    <div class="card-body">
      <h5 class="card-sub-title text-white">Savings Account</h5>
      <h1 class="card-title text-white">1500</h1>
      <div class="card-text text-white d-flex gap-2">
          <div class="rating">
            <p>2.36%</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 15px;height: 15px;">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 19.5v-15m0 0l-6.75 6.75M12 4.5l6.75 6.75" />
            </svg>
          </div>
          <p class="cart-text">Since last month </p>
      </div>
    </div>
  </div>
  <div class="card bg-success rounded-4 overflow-hidden">
    <div class="card-body">
      <h5 class="card-sub-title text-white">Savings Account</h5>
      <h1 class="card-title text-white">1500</h1>
      <div class="card-text text-white d-flex gap-2">
          <div class="rating">
            <p>2.36%</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width: 15px;height: 15px;">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 19.5v-15m0 0l-6.75 6.75M12 4.5l6.75 6.75" />
            </svg>
          </div>
          <p class="cart-text">Since last month </p>
      </div>
    </div>
  </div>
</div>
<!-- Table -->
<div class="p-2 p-md-5">
  <div class="table-container table-responsive rounded-3">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">userid/name</th>
          <th scope="col">phone</th>
          <th scope="col">transaction category</th>
          <th scope="col">transaction amount</th>
          <th scope="col">account type</th>
          <th scope="col">balance amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions; index as i">
          <td>
            <p class="m-0">{{ transaction.name }}</p>
            <p class="m-0 text-secondary">
              <small>{{ transaction.id }}</small>
            </p>
          </td>
          <td>{{ transaction.phone }}</td>
          <td>
            <p class="m-0">{{ transaction.category.title }}</p>
            <p class="m-0 text-secondary">
              <small>{{ transaction.category.type }}</small>
            </p>
          </td>

          <td>{{ transaction.amount | currency }}</td>
          <td>{{ transaction.accountType }}</td>
          <td>{{ transaction.balance | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="viewbtn">
  <button>View All</button>
</div>
