
.all{

.userDetails{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
   margin-right: 10px;
  border-radius: 25%;
  padding: 6px;

  .address{
    width: 100%;
    line-height: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .dark{
      color: black;
      font-size: large;
      font-weight: 800;
    }

  }
  .userImg{
    object-fit: cover;
  }

}
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}

.nav-item-active {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 6px;
    background: blue;
    border-radius: 0 6px 6px 0;
  }
}
