/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

.dropdown-menu {
  max-height: 280px;
  overflow-y: auto;
}

.sidenav {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  transition: 0.2s ease-out;
}

.table-container {
  width: calc(100vw - 16px);
}

@include media-breakpoint-up(md) {
  .table-container {
    width: 100%;
  }
  .sidenav {
    position: relative;
    width: 200px;
    transform: translateX(0) !important;
  }
  .login-form {
    max-width: 50% !important;
  }
}
// .cards{
//   width: 100vw;
// }
